@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-12 text-primary bg-warning p-2 rounded">
        ROBERTO DIAZ
    </h1>
    <p>Cuenta #202401986</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>